body
{    font-family: 'robotoregular';
  }

.logo-signin
{
  padding: 0px 0px 30px 0px;
}
.form-signin
{
  max-width: 330px;
  padding: 30px;
  margin: 0 auto;
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.37);
  display:block;
  box-sizing: content-box;
  width: 100%;
  

}
.container1{ position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
    -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	  	    transform: translate(-50%, -50%);
  }

.form-signin .form-signin-heading, .form-signin .checkbox
{
  margin-bottom: 10px;
}

.form-signin .checkbox
{
  font-weight: normal;
}

.form-signin .form-control
{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;

}

.form-signin .form-control:focus
{
  z-index: 2;   border-color:#fdbc90;
}

.form-signin input[type="email"]
{
  margin-top: 20px;
  border-radius: 0;
  margin-bottom:5px;
}

.form-signin input[type="password"]
{
  margin-top: 20px;
  margin-bottom:5px;
  border-radius: 0px;
}

.cutom-btn
{
  background: #ff6600!important;
  border: none!important;
  outline:none;
  border-radius:4px;
  margin: 20px 0px 10px;
}

.cutom-btn:hover
{
  background: #ff3d00!important;
  outline:none;
}
.cutom-btn:focus
{
  background: #ff3d00;
  outline:none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
 }


a
{
  color: #808080;
  text-decoration: none;
}

a:hover, a:focus
{
  color: #ff6600;
  text-decoration: underline;
}
.light-black{ background:rgba(0,0,0,.7);}
 .light-black h3{ text-shadow: 1px 3px 2px #ccc; color:#666;}
  @media (max-width: 640px) {
	  .logo-signin{ padding:0px!important;}
figure img {
    width: 43%;
}
.form-signin input[type="password"]{ margin-top:0px;}
.form-signin input[type="email"] {
    border-radius: 0;
    margin-bottom: 5px;
    margin-top: 10px;
}
.cutom-btn {
    background: #ff6600 none repeat scroll 0 0 !important;
    border: medium none !important;
    border-radius: 4px;
    margin: 0 0 10px;
    outline: medium none;
}
.form-signin{ padding:9px 30px;}
	  
	  }

 @media (max-width: 480px) {

.container1 {
    left: 40%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}
.forgot-text{ font-size:18px!important;}	


}

